<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's X'O time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>It's X'O time</h1>
    
    <button id="playWithAI">Play with AI</button>
    <button id="playWithFriend">Play with Friend</button>
    <button id="resetGame" style="display: none;">Reset Game</button>
    <!-- Go Back Button -->
    <button id="goBackButton" style="display: none;">Go Back</button>

    <div id="board" class="board" style="display: none;"></div>
    <h2 id="winnerMessage"></h2>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
